<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <script type="systemjs-importmap">
      {
        "imports": {
          "single-spa": "<%= webpackConfig.output.publicPath %>single-spa.js",
          "single-spa-react": "<%= webpackConfig.output.publicPath %>single-spa-react.js",
          "react": "<%= webpackConfig.output.publicPath %>react.js",
          "react-dom": "<%= webpackConfig.output.publicPath %>react-dom.js",
          "main": "<%= webpackConfig.output.publicPath %><%= webpackConfig.output.filename %>",
          "app1": "<%= webpackConfig.output.publicPath %>app1.bundle.js",
          "app2": "<%= webpackConfig.output.publicPath %>app2.bundle.js",
          "app3": "<%= webpackConfig.output.publicPath %>app3.bundle.js"
        }
      }
    </script>
    <script
      type="text/javascript"
      src="<%= webpackConfig.output.publicPath %>system.js"
    ></script>
    <script
      type="text/javascript"
      src="<%= webpackConfig.output.publicPath %>named-exports.js"
    ></script>
    <script
      type="text/javascript"
      src="<%= webpackConfig.output.publicPath %>use-default.js"
    ></script>
  </head>
  <body>
    <script>
      System.import('main');
    </script>
  </body>
</html>
